* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "poppins", sans-serif;
  font-size: 10px;
}

body {
  color: #eee;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(hero.jpg);
  background-size: cover;
}

.nav {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 3.2rem;
}
.header {
  font-size: 1.8rem;
  font-weight: 700;
}

h1 {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
  line-height: 1.05;
}
p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
  background-color: #e67e22;
  display: inline-block;
  padding: 1.6rem 3.3rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 0.6rem;
}

h2 {
  font-size: 4.4rem;
  margin-bottom: 4.8rem;
}
section {
  padding: 9.6rem 0;
}

.content {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-content {
  width: 50%;
}
